* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    /* make container flex container */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    background-image: url("https://lh5.googleusercontent.com/proxy/w5aSBodopcPUseeAhM7sO6CuV2N-AXYIKY4GQ1p06AMt3xwlfchLlVnTR8FigsY7PdjibCJadW4_lsuGa-SUlmQY1CP6AUuOXkPPG2chxjA_VupTSiElPt3-wT1eFib-35d-70g9xMqxKn4JGHFeaQo=s0-d");
}
.pads {
    display: flex;
    height: 450px;
    width: 450px;
    background:transparent;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    font-family: fantasy;
    
    border-radius: 8px;
    border:  1px solid black;
}
.kit {
    height: 50px;
    width: 50px;
    border: 1px solid;
}